<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tugas 1</title>
</head>

<body>
    <h1>Pemrograman Web B</h1>
    <h2>Pemrograman Web B</h2>
    <h3>Pemrograman Web B</h3>
    <h4>Pemrograman Web B</h4>
    <h5>Pemrograman Web B</h5>

    <p>Ini adalah rencana pembelajaran:</p>

    <table>
        <tr>
            <th>No</th>
            <th>Materi</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Pengenalan</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Membuat aplikasi sederhana menggunakan html</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Layout Web Front End Cascading Style Sheet</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Mengenal Bootstrap</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mengenal Javascript</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Membuat Aplikasi dengan JS</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Teknologi Ajax</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Evaluasi 1</td>
        </tr>
    </table>

    <p>Capaian pembelajaran:</p>


    <table>
        <tr>
            <th>No</th>
            <th>Materi</th>
        </tr>
        <tr>
            <td>CP MK1</td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td></td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td>CP MK1</td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td></td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td>CP MK1</td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td></td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td>CP MK1</td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
        <tr>
            <td></td>
            <td>Mahasiswa bisa membuat full-stack web application</td>
        </tr>
    </table>


    <form>
        <label for="name">Name</label>
        <input type="text" id="name" v-model="formData.name" required />

        <label for="nrp">NRP</label>
        <input type="text" id="nrp" v-model="formData.nrp" required />

        <label for="wa">Phone Number</label>
        <input type="text" id="wa" v-model="formData.wa" required />

        <label for="questions">Questions</label>
        <textarea id="questions" v-model="formData.questions" spellcheck="false" required></textarea>

        <input type="file" id="myFile" name="filename">

        <button type="submit">Submit</button>
    </form>

    <ol>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
        <li>halo</li>
    </ol>

    <ul>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
    </ul>


    <div>
        Ini adalah teks di dalam div
    </div>

    <section>
        Ini adalah text di dalam section
    </section>

    <a href="https://its.id/ridho" target="_blank"><i class="fa-brands fa-youtube"></i> Subscribe YouTube Channel Pak Ridho</a>

    <br />
    <hr>

    <span>Ini adalah teks di dalam span</span>

    <form action="/action_page.php">
        <p>Apa bahasa favoritmu?:</p>
          <input type="radio" id="html" name="fav_language" value="HTML">
          <label for="html">C</label><br>
          <input type="radio" id="css" name="fav_language" value="CSS">
          <label for="css">C++</label><br>
          <input type="radio" id="javascript" name="fav_language" value="JavaScript">
          <label for="javascript">JavaScript</label><br>
          <input type="radio" id="bahasa_inggris" name="fav_language" value="Bahasa Inggris">
          <label for="bahasa_inggris">Bahasa Inggris</label>
    </form>

    <img src="https://academy.alterra.id/blog/wp-content/uploads/2021/07/golang-img.png" alt="">
</body>

</html>